# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
.jar
.save 

# Maven
log/
target/

# OpenCV
build/
*.md~
*.cpp~
*.h~

# STM32
*.o
*.elf
*.bin
*.hex
*.map
*.lst
.*.un~
.*.swp

# Files containg private data
**/remotedebug.xml

