# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
.jar
.save 

# Maven
log/
target/

# OpenCV
build/
*.md~
*.cpp~
*.h~
*.txt~

# STM32
*.o
*.elf
*.bin
*.hex
*.map
*.lst
.*.un~
.*.swp
/Application/
/sources.mk
/Drivers/
/Middlewares/
/makefile
/objects.list
/objects.mk

# Files containg private data
**/remotedebug.xml
